### ModelSim ###
work/
!work/_info
*.mti
*.wlf
*.bak
*.do
commands/*out.txt

### ISE ###
xlnx_auto_0_xdb/
iseconfig/
_xmsgs/
_ngo/
xst/
synlog/
syntmp/
synwork/
ipcore_dir/tmp/
isim/
planAhead_*
isim/
PROM/
*.tlg
*.szr
*.prs
*.psr
*.lmp
*.xdm
*.fcd
*.rpt
*.srs
*.srr
*.srd
*.srm
*.sdc
*.sap
*.prd
*.fse
*.fdc
.recordref_modgen
*.areasrr
*_areasrr.*
*.syr
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.csv
*.html
*.gise
*.log
*.bld
*.cmd_log
*.lso
*.ngc
*.ngd
*.ngr
*.prj
*.stx
*.xst
*.ini
*.xml
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*pad.txt
*.bgn
*.xwbt
*.drc
*.bit
*.mcs
*.cfi
*.prm
*.sig
*.msd
*.msk
*.rba
*.rbb
*.rbd
*.rbt
*.ll
*.svf
*.VcsAnalyst
*.wcfg
*.exe
*.wdb

### Other ###
*~
*#
*.jar
*.edn
source/xapps/
