NET	"ADC_CS_LV_B"	LOC =	A25;
NET	"ADC_RST_B_25"	LOC =	J25;
NET	"ADC_SCLK_25"	LOC =	T24;
NET	"ADC_SDATA_25"	LOC =	T23;
#
# The following names are used on DCFEB Rev. 2a boards and in firmware version dcfeb_f2.0
#NET	"AV55P_3_CUR_N"	LOC =	B13;
#NET	"AV55P_3_CUR_P"	LOC =	B12;
#NET	"AV55P_5_CUR_N"	LOC =	J12;
#NET	"AV55P_5_CUR_P"	LOC =	H12;
#
# The following names are used on DCFEB Rev. 3b boards and in firmware version dcfeb_f3.0
NET	"AV54P_3_CUR_N"	LOC =	B13;
NET	"AV54P_3_CUR_P"	LOC =	B12;
NET	"AV54P_5_CUR_N"	LOC =	J12;
NET	"AV54P_5_CUR_P"	LOC =	H12;
#
NET	"CAL_DAC_CS_LV_B"	LOC =	B25;
NET	"CFG_DAT[0]"	LOC =	AF24;
NET	"CFG_DAT[1]"	LOC =	AF25;
NET	"CFG_DAT[2]"	LOC =	W24;
NET	"CFG_DAT[3]"	LOC =	V24;
NET	"CFG_DAT[4]"	LOC =	H24;
NET	"CFG_DAT[5]"	LOC =	H25;
NET	"CFG_DAT[6]"	LOC =	P24;
NET	"CFG_DAT[7]"	LOC =	R24;
NET	"CFG_DAT[8]"	LOC =	G23;
NET	"CFG_DAT[9]"	LOC =	H23;
NET	"CFG_DAT[10]"	LOC =	N24;
NET	"CFG_DAT[11]"	LOC =	N23;
NET	"CFG_DAT[12]"	LOC =	F23;
NET	"CFG_DAT[13]"	LOC =	F24;
NET	"CFG_DAT[14]"	LOC =	L24;
NET	"CFG_DAT[15]"	LOC =	M23;
NET	"CHAN_LNK_CLK"	LOC =	A30;
NET	"CMODE[0]"	LOC =	N25;
NET	"CMODE[1]"	LOC =	M25;
NET	"CMS80_N"	LOC =	A31;
NET	"CMS80_P"	LOC =	B31;
NET	"CMS_CLK_N"	LOC =	B10;
NET	"CMS_CLK_P"	LOC =	A10;
NET	"CTIME[0]"	LOC =	K26;
NET	"CTIME[1]"	LOC =	L25;
NET	"CTIME[2]"	LOC =	L26;
NET	"COMP_DAC_CS_LV_B"	LOC =	K28;
NET	"DAQ_LDSCL"	LOC =	A24;
NET	"DAQ_LDSDA"	LOC =	A23;
NET	"DAQ_LDSDA_RTN"	LOC =	D20;
NET	"DAQ_TRG_TDIS"		LOC =	G13;
NET	"DAQ_RX_N"		LOC = N4;
NET	"DAQ_RX_P"		LOC = N3;
NET	"DAQ_TX_N"		LOC = M2;
NET	"DAQ_TX_P"		LOC = M1;
NET	"DATAAVAIL"	LOC =	G30;
NET	"DATAOUT[0]"	LOC =	D29;
NET	"DATAOUT[1]"	LOC =	C30;
NET	"DATAOUT[2]"	LOC =	D30;
NET	"DATAOUT[3]"	LOC =	D32;
NET	"DATAOUT[4]"	LOC =	D31;
NET	"DATAOUT[5]"	LOC =	F34;
NET	"DATAOUT[6]"	LOC =	E34;
NET	"DATAOUT[7]"	LOC =	C34;
NET	"DATAOUT[8]"	LOC =	D34;
NET	"DATAOUT[9]"	LOC =	B34;
NET	"DATAOUT[10]"	LOC =	C33;
NET	"DATAOUT[11]"	LOC =	B33;
NET	"DATAOUT[12]"	LOC =	A33;
NET	"DATAOUT[13]"	LOC =	E32;
NET	"DATAOUT[14]"	LOC =	B32;
NET	"DATAOUT[15]"	LOC =	C32;
NET	"DV3P_2_CUR_N"	LOC =	A14;
NET	"DV3P_2_CUR_P"	LOC =	A13;
NET	"DV3P_18_CUR_N"	LOC =	E14; //Name change in xdcfeb
NET	"DV3P_18_CUR_P"	LOC =	F14; //Name change in xdcfeb
NET	"DV4P_3_CUR_N"	LOC =	F11;
NET	"DV4P_3_CUR_P"	LOC =	G11;
NET	"ENDWORD"	LOC =	F31;
NET	"EXTPLS_LV"	LOC =	AC10;
NET	"EXTPULSE-"	LOC =	F29;
NET	"EXTPULSE+"	LOC =	E29;
NET	"G1ADCLK0N"	LOC =	AD11;
NET	"G1ADCLK0P"	LOC =	AD12;
NET	"G1ADCLK1N"	LOC =	AC12;
NET	"G1ADCLK1P"	LOC =	AC13;
NET	"G1ADC_CS0_B_25"	LOC =	J24;
NET	"G1ADC_CS1_B_25"	LOC =	U23;
NET	"G1AD_N[0]"	LOC =	AN12;
NET	"G1AD_N[1]"	LOC =	AL13;
NET	"G1AD_N[2]"	LOC =	AM13;
NET	"G1AD_N[3]"	LOC =	AN14;
NET	"G1AD_N[4]"	LOC =	AG13;
NET	"G1AD_N[5]"	LOC =	AF14;
NET	"G1AD_N[6]"	LOC =	AH12;
NET	"G1AD_N[7]"	LOC =	AH14;
NET	"G1AD_N[8]"	LOC =	AL10;
NET	"G1AD_N[9]"	LOC =	AM11;
NET	"G1AD_N[10]"	LOC =	AK11;
NET	"G1AD_N[11]"	LOC =	AJ12;
NET	"G1AD_N[12]"	LOC =	AC14;
NET	"G1AD_N[13]"	LOC =	AE12;
NET	"G1AD_N[14]"	LOC =	AE11;
NET	"G1AD_N[15]"	LOC =	AG10;
NET	"G1AD_P[0]"	LOC =	AM12;
NET	"G1AD_P[1]"	LOC =	AK13;
NET	"G1AD_P[2]"	LOC =	AN13;
NET	"G1AD_P[3]"	LOC =	AP14;
NET	"G1AD_P[4]"	LOC =	AF13;
NET	"G1AD_P[5]"	LOC =	AE14;
NET	"G1AD_P[6]"	LOC =	AG12;
NET	"G1AD_P[7]"	LOC =	AH13;
NET	"G1AD_P[8]"	LOC =	AM10;
NET	"G1AD_P[9]"	LOC =	AL11;
NET	"G1AD_P[10]"	LOC =	AJ11;
NET	"G1AD_P[11]"	LOC =	AK12;
NET	"G1AD_P[12]"	LOC =	AD14;
NET	"G1AD_P[13]"	LOC =	AE13;
NET	"G1AD_P[14]"	LOC =	AF11;
NET	"G1AD_P[15]"	LOC =	AG11;
NET	"G1C_LV[0]"	LOC =	P29;
NET	"G1C_LV[1]"	LOC =	R29;
NET	"G1C_LV[2]"	LOC =	N28;
NET	"G1C_LV[3]"	LOC =	N29;
NET	"G1C_LV[4]"	LOC =	J30;
NET	"G1C_LV[5]"	LOC =	K29;
NET	"G1C_LV[6]"	LOC =	L28;
NET	"G1C_LV[7]"	LOC =	M28;
NET	"G1LCLK0N"	LOC =	AP12;
NET	"G1LCLK0P"	LOC =	AP11;
NET	"G1LCLK1N"	LOC =	AH10;
NET	"G1LCLK1P"	LOC =	AJ10;
NET	"G1SHCKLV"	LOC =	T25;
NET	"G1SHINLV"	LOC =	U25;
NET	"G1SHOUTLV"	LOC =	Y28;
NET	"G2ADCLK0N"	LOC =	AD16;
NET	"G2ADCLK0P"	LOC =	AE16;
NET	"G2ADCLK1N"	LOC =	AD15;
NET	"G2ADCLK1P"	LOC =	AC15;
NET	"G2ADC_CS0_B_25"	LOC =	V23;
NET	"G2ADC_CS1_B_25"	LOC =	AD24;
NET	"G2AD_N[0]"	LOC =	AF16;
NET	"G2AD_N[1]"	LOC =	AJ14;
NET	"G2AD_N[2]"	LOC =	AP15;
NET	"G2AD_N[3]"	LOC =	AL14;
NET	"G2AD_N[4]"	LOC =	AH15;
NET	"G2AD_N[5]"	LOC =	AJ16;
NET	"G2AD_N[6]"	LOC =	AF15;
NET	"G2AD_N[7]"	LOC =	AM15;
NET	"G2AD_N[8]"	LOC =	AE17;
NET	"G2AD_N[9]"	LOC =	AM16;
NET	"G2AD_N[10]"	LOC =	AK16;
NET	"G2AD_N[11]"	LOC =	AP17;
NET	"G2AD_N[12]"	LOC =	AG18;
NET	"G2AD_N[13]"	LOC =	AH19;
NET	"G2AD_N[14]"	LOC =	AK17;
NET	"G2AD_N[15]"	LOC =	AF18;
NET	"G2AD_P[0]"	LOC =	AG16;
NET	"G2AD_P[1]"	LOC =	AK14;
NET	"G2AD_P[2]"	LOC =	AP16;
NET	"G2AD_P[3]"	LOC =	AL15;
NET	"G2AD_P[4]"	LOC =	AJ15;
NET	"G2AD_P[5]"	LOC =	AJ17;
NET	"G2AD_P[6]"	LOC =	AG15;
NET	"G2AD_P[7]"	LOC =	AN15;
NET	"G2AD_P[8]"	LOC =	AD17;
NET	"G2AD_P[9]"	LOC =	AM17;
NET	"G2AD_P[10]"	LOC =	AL16;
NET	"G2AD_P[11]"	LOC =	AN17;
NET	"G2AD_P[12]"	LOC =	AH18;
NET	"G2AD_P[13]"	LOC =	AJ19;
NET	"G2AD_P[14]"	LOC =	AK18;
NET	"G2AD_P[15]"	LOC =	AE18;
NET	"G2C_LV[0]"	LOC =	T30;
NET	"G2C_LV[1]"	LOC =	T31;
NET	"G2C_LV[2]"	LOC =	U31;
NET	"G2C_LV[3]"	LOC =	U30;
NET	"G2C_LV[4]"	LOC =	V30;
NET	"G2C_LV[5]"	LOC =	W30;
NET	"G2C_LV[6]"	LOC =	Y32;
NET	"G2C_LV[7]"	LOC =	Y31;
NET	"G2LCLK0N"	LOC =	AC17;
NET	"G2LCLK0P"	LOC =	AC18;
NET	"G2LCLK1N"	LOC =	AG17;
NET	"G2LCLK1P"	LOC =	AH17;
NET	"G2SHCKLV"	LOC =	V25;
NET	"G2SHINLV"	LOC =	W25;
NET	"G2SHOUTLV"	LOC =	Y27;
NET	"G3ADCLK0N"	LOC =	AH24;
NET	"G3ADCLK0P"	LOC =	AH23;
NET	"G3ADCLK1N"	LOC =	AP21;
NET	"G3ADCLK1P"	LOC =	AP20;
NET	"G3ADC_CS0_B_25"	LOC =	AE24;
NET	"G3ADC_CS1_B_25"	LOC =	AE23;
NET	"G3AD_N[0]"	LOC =	AH28;
NET	"G3AD_N[1]"	LOC =	AM28;
NET	"G3AD_N[2]"	LOC =	AP29;
NET	"G3AD_N[3]"	LOC =	AP31;
NET	"G3AD_N[4]"	LOC =	AL24;
NET	"G3AD_N[5]"	LOC =	AP24;
NET	"G3AD_N[6]"	LOC =	AG26;
NET	"G3AD_N[7]"	LOC =	AM26;
NET	"G3AD_N[8]"	LOC =	AD21;
NET	"G3AD_N[9]"	LOC =	AJ22;
NET	"G3AD_N[10]"	LOC =	AN22;
NET	"G3AD_N[11]"	LOC =	AL23;
NET	"G3AD_N[12]"	LOC =	AN18;
NET	"G3AD_N[13]"	LOC =	AN20;
NET	"G3AD_N[14]"	LOC =	AD19;
NET	"G3AD_N[15]"	LOC =	AJ21;
NET	"G3AD_P[0]"	LOC =	AH27;
NET	"G3AD_P[1]"	LOC =	AN28;
NET	"G3AD_P[2]"	LOC =	AN29;
NET	"G3AD_P[3]"	LOC =	AP30;
NET	"G3AD_P[4]"	LOC =	AK23;
NET	"G3AD_P[5]"	LOC =	AP25;
NET	"G3AD_P[6]"	LOC =	AG25;
NET	"G3AD_P[7]"	LOC =	AL26;
NET	"G3AD_P[8]"	LOC =	AE21;
NET	"G3AD_P[9]"	LOC =	AK22;
NET	"G3AD_P[10]"	LOC =	AM22;
NET	"G3AD_P[11]"	LOC =	AM23;
NET	"G3AD_P[12]"	LOC =	AP19;
NET	"G3AD_P[13]"	LOC =	AN19;
NET	"G3AD_P[14]"	LOC =	AC19;
NET	"G3AD_P[15]"	LOC =	AK21;
NET	"G3C_LV[0]"	LOC =	M31;
NET	"G3C_LV[1]"	LOC =	L31;
NET	"G3C_LV[2]"	LOC =	P31;
NET	"G3C_LV[3]"	LOC =	P30;
NET	"G3C_LV[4]"	LOC =	M30;
NET	"G3C_LV[5]"	LOC =	N30;
NET	"G3C_LV[6]"	LOC =	L29;
NET	"G3C_LV[7]"	LOC =	L30;
NET	"G3LCLK0N"	LOC =	AJ27;
NET	"G3LCLK0P"	LOC =	AK27;
NET	"G3LCLK1N"	LOC =	AE19;
NET	"G3LCLK1P"	LOC =	AF19;
NET	"G3SHCKLV"	LOC =	U27;
NET	"G3SHINLV"	LOC =	U26;
NET	"G3SHOUTLV"	LOC =	T28;
NET	"G4ADCLK0N"	LOC =	AL19;
NET	"G4ADCLK0P"	LOC =	AK19;
NET	"G4ADCLK1N"	LOC =	AM27;
NET	"G4ADCLK1P"	LOC =	AN27;
NET	"G4ADC_CS0_B_25"	LOC =	L23;
NET	"G4ADC_CS1_B_25"	LOC =	M22;
NET	"G4AD_N[0]"	LOC =	AG21;
NET	"G4AD_N[1]"	LOC =	AH20;
NET	"G4AD_N[2]"	LOC =	AL20;
NET	"G4AD_N[3]"	LOC =	AL18;
NET	"G4AD_N[4]"	LOC =	AN23;
NET	"G4AD_N[5]"	LOC =	AH22;
NET	"G4AD_N[6]"	LOC =	AL21;
NET	"G4AD_N[7]"	LOC =	AD20;
NET	"G4AD_N[8]"	LOC =	AJ26;
NET	"G4AD_N[9]"	LOC =	AL25;
NET	"G4AD_N[10]"	LOC =	AN24;
NET	"G4AD_N[11]"	LOC =	AK24;
NET	"G4AD_N[12]"	LOC =	AM30;
NET	"G4AD_N[13]"	LOC =	AK29;
NET	"G4AD_N[14]"	LOC =	AK28;
NET	"G4AD_N[15]"	LOC =	AP26;
NET	"G4AD_P[0]"	LOC =	AG20;
NET	"G4AD_P[1]"	LOC =	AJ20;
NET	"G4AD_P[2]"	LOC =	AM20;
NET	"G4AD_P[3]"	LOC =	AM18;
NET	"G4AD_P[4]"	LOC =	AP22;
NET	"G4AD_P[5]"	LOC =	AG22;
NET	"G4AD_P[6]"	LOC =	AM21;
NET	"G4AD_P[7]"	LOC =	AC20;
NET	"G4AD_P[8]"	LOC =	AK26;
NET	"G4AD_P[9]"	LOC =	AM25;
NET	"G4AD_P[10]"	LOC =	AN25;
NET	"G4AD_P[11]"	LOC =	AJ24;
NET	"G4AD_P[12]"	LOC =	AN30;
NET	"G4AD_P[13]"	LOC =	AL29;
NET	"G4AD_P[14]"	LOC =	AL28;
NET	"G4AD_P[15]"	LOC =	AP27;
NET	"G4C_LV[0]"	LOC =	V32;
NET	"G4C_LV[1]"	LOC =	V33;
NET	"G4C_LV[2]"	LOC =	U33;
NET	"G4C_LV[3]"	LOC =	W34;
NET	"G4C_LV[4]"	LOC =	R33;
NET	"G4C_LV[5]"	LOC =	R34;
NET	"G4C_LV[6]"	LOC =	T33;
NET	"G4C_LV[7]"	LOC =	T34;
NET	"G4LCLK0N"	LOC =	AF21;
NET	"G4LCLK0P"	LOC =	AF20;
NET	"G4LCLK1N"	LOC =	AJ25;
NET	"G4LCLK1P"	LOC =	AH25;
NET	"G4SHCKLV"	LOC =	W26;
NET	"G4SHINLV"	LOC =	W27;
NET	"G4SHOUTLV"	LOC =	T29;
NET	"G5ADCLK0N"	LOC =	AF33;
NET	"G5ADCLK0P"	LOC =	AE33;
NET	"G5ADCLK1N"	LOC =	AE26;
NET	"G5ADCLK1P"	LOC =	AF26;
NET	"G5ADC_CS0_B_25"	LOC =	AE22;
NET	"G5ADC_CS1_B_25"	LOC =	AC24;
NET	"G5AD_N[0]"	LOC =	AB26;
NET	"G5AD_N[1]"	LOC =	AB31;
NET	"G5AD_N[2]"	LOC =	AA31;
NET	"G5AD_N[3]"	LOC =	AA33;
NET	"G5AD_N[4]"	LOC =	AE32;
NET	"G5AD_N[5]"	LOC =	AG32;
NET	"G5AD_N[6]"	LOC =	AC28;
NET	"G5AD_N[7]"	LOC =	AC25;
NET	"G5AD_N[8]"	LOC =	AH32;
NET	"G5AD_N[9]"	LOC =	AL33;
NET	"G5AD_N[10]"	LOC =	AH34;
NET	"G5AD_N[11]"	LOC =	AK34;
NET	"G5AD_N[12]"	LOC =	AM31;
NET	"G5AD_N[13]"	LOC =	AP33;
NET	"G5AD_N[14]"	LOC =	AM32;
NET	"G5AD_N[15]"	LOC =	AK32;
NET	"G5AD_P[0]"	LOC =	AA26;
NET	"G5AD_P[1]"	LOC =	AB30;
NET	"G5AD_P[2]"	LOC =	AA30;
NET	"G5AD_P[3]"	LOC =	AA34;
NET	"G5AD_P[4]"	LOC =	AD32;
NET	"G5AD_P[5]"	LOC =	AG33;
NET	"G5AD_P[6]"	LOC =	AB28;
NET	"G5AD_P[7]"	LOC =	AB25;
NET	"G5AD_P[8]"	LOC =	AH33;
NET	"G5AD_P[9]"	LOC =	AM33;
NET	"G5AD_P[10]"	LOC =	AJ34;
NET	"G5AD_P[11]"	LOC =	AL34;
NET	"G5AD_P[12]"	LOC =	AL30;
NET	"G5AD_P[13]"	LOC =	AP32;
NET	"G5AD_P[14]"	LOC =	AN32;
NET	"G5AD_P[15]"	LOC =	AK33;
NET	"G5C_LV[0]"	LOC =	K34;
NET	"G5C_LV[1]"	LOC =	L34;
NET	"G5C_LV[2]"	LOC =	K33;
NET	"G5C_LV[3]"	LOC =	J34;
NET	"G5C_LV[4]"	LOC =	J31;
NET	"G5C_LV[5]"	LOC =	J32;
NET	"G5C_LV[6]"	LOC =	N34;
NET	"G5C_LV[7]"	LOC =	P34;
NET	"G5LCLK0N"	LOC =	AF34;
NET	"G5LCLK0P"	LOC =	AE34;
NET	"G5LCLK1N"	LOC =	AG30;
NET	"G5LCLK1P"	LOC =	AF30;
NET	"G5SHCKLV"	LOC =	V27;
NET	"G5SHINLV"	LOC =	V28;
NET	"G5SHOUTLV"	LOC =	W29;
NET	"G6ADCLK0N"	LOC =	AN34;
NET	"G6ADCLK0P"	LOC =	AN33;
NET	"G6ADCLK1N"	LOC =	AC30;
NET	"G6ADCLK1P"	LOC =	AD30;
NET	"G6ADC_CS0_B_25"	LOC =	AC22;
NET	"G6ADC_CS1_B_25"	LOC =	AD22;
NET	"G6AD_N[0]"	LOC =	AK31;
NET	"G6AD_N[1]"	LOC =	AJ30;
NET	"G6AD_N[2]"	LOC =	AH30;
NET	"G6AD_N[3]"	LOC =	AD26;
NET	"G6AD_N[4]"	LOC =	AF29;
NET	"G6AD_N[5]"	LOC =	AD27;
NET	"G6AD_N[6]"	LOC =	AJ32;
NET	"G6AD_N[7]"	LOC =	AE29;
NET	"G6AD_N[8]"	LOC =	AC27;
NET	"G6AD_N[9]"	LOC =	AC32;
NET	"G6AD_N[10]"	LOC =	AD31;
NET	"G6AD_N[11]"	LOC =	AF31;
NET	"G6AD_N[12]"	LOC =	AA29;
NET	"G6AD_N[13]"	LOC =	Y26;
NET	"G6AD_N[14]"	LOC =	AC34;
NET	"G6AD_N[15]"	LOC =	AB33;
NET	"G6AD_P[0]"	LOC =	AL31;
NET	"G6AD_P[1]"	LOC =	AJ29;
NET	"G6AD_P[2]"	LOC =	AH29;
NET	"G6AD_P[3]"	LOC =	AD25;
NET	"G6AD_P[4]"	LOC =	AF28;
NET	"G6AD_P[5]"	LOC =	AE27;
NET	"G6AD_P[6]"	LOC =	AJ31;
NET	"G6AD_P[7]"	LOC =	AE28;
NET	"G6AD_P[8]"	LOC =	AB27;
NET	"G6AD_P[9]"	LOC =	AB32;
NET	"G6AD_P[10]"	LOC =	AE31;
NET	"G6AD_P[11]"	LOC =	AG31;
NET	"G6AD_P[12]"	LOC =	AA28;
NET	"G6AD_P[13]"	LOC =	AA25;
NET	"G6AD_P[14]"	LOC =	AD34;
NET	"G6AD_P[15]"	LOC =	AC33;
NET	"G6C_LV[0]"	LOC =	V34;
NET	"G6C_LV[1]"	LOC =	W32;
NET	"G6C_LV[2]"	LOC =	Y33;
NET	"G6C_LV[3]"	LOC =	Y34;
NET	"G6C_LV[4]"	LOC =	N32;
NET	"G6C_LV[5]"	LOC =	P32;
NET	"G6C_LV[6]"	LOC =	R31;
NET	"G6C_LV[7]"	LOC =	R32;
NET	"G6LCLK0N"	LOC =	AG28;
NET	"G6LCLK0P"	LOC =	AG27;
NET	"G6LCLK1N"	LOC =	AC29;
NET	"G6LCLK1P"	LOC =	AD29;
NET	"G6SHCKLV"	LOC =	V29;
NET	"G6SHINLV"	LOC =	U28;
NET	"G6SHOUTLV"	LOC =	Y29;
NET	"GA1ADCCLK_FN"	LOC =	AE9;
NET	"GA1ADCCLK_FP"	LOC =	AD9;
NET	"GA2ADCCLK_FN"	LOC =	AJ9;
NET	"GA2ADCCLK_FP"	LOC =	AH9;
NET	"GA3ADCCLK_FN"	LOC =	AP10;
NET	"GA3ADCCLK_FP"	LOC =	AN10;
NET	"GBT_DSKW_CLK0N"	LOC =	E12;
NET	"GBT_DSKW_CLK0P"	LOC =	D12;
NET	"GBT_RTN_DATA_N[0]"	LOC =	B15;
NET	"GBT_RTN_DATA_N[1]"	LOC =	J16;
NET	"GBT_RTN_DATA_N[2]"	LOC =	D16;
NET	"GBT_RTN_DATA_N[3]"	LOC =	G16;
NET	"GBT_RTN_DATA_N[4]"	LOC =	B16;
NET	"GBT_RTN_DATA_N[5]"	LOC =	L14;
NET	"GBT_RTN_DATA_N[6]"	LOC =	L16;
NET	"GBT_RTN_DATA_N[7]"	LOC =	H18;
NET	"GBT_RTN_DATA_N[8]"	LOC =	M17;
NET	"GBT_RTN_DATA_N[9]"	LOC =	J19;
NET	"GBT_RTN_DATA_N[10]"	LOC =	B17;
NET	"GBT_RTN_DATA_N[11]"	LOC =	L18;
NET	"GBT_RTN_DATA_N[12]"	LOC =	G17;
NET	"GBT_RTN_DATA_N[13]"	LOC =	K17;
NET	"GBT_RTN_DATA_N[14]"	LOC =	D17;
NET	"GBT_RTN_DATA_N[15]"	LOC =	E17;
NET	"GBT_RTN_DATA_P[0]"	LOC =	A15;
NET	"GBT_RTN_DATA_P[1]"	LOC =	J17;
NET	"GBT_RTN_DATA_P[2]"	LOC =	E16;
NET	"GBT_RTN_DATA_P[3]"	LOC =	F16;
NET	"GBT_RTN_DATA_P[4]"	LOC =	A16;
NET	"GBT_RTN_DATA_P[5]"	LOC =	L15;
NET	"GBT_RTN_DATA_P[6]"	LOC =	K16;
NET	"GBT_RTN_DATA_P[7]"	LOC =	G18;
NET	"GBT_RTN_DATA_P[8]"	LOC =	M18;
NET	"GBT_RTN_DATA_P[9]"	LOC =	K19;
NET	"GBT_RTN_DATA_P[10]"	LOC =	C17;
NET	"GBT_RTN_DATA_P[11]"	LOC =	L19;
NET	"GBT_RTN_DATA_P[12]"	LOC =	H17;
NET	"GBT_RTN_DATA_P[13]"	LOC =	K18;
NET	"GBT_RTN_DATA_P[14]"	LOC =	E18;
NET	"GBT_RTN_DATA_P[15]"	LOC =	F18;
NET	"GBT_RXRDY_FPGA"	LOC =	A20;
NET	"GBT_RXDATAVALID_FPGA"	LOC =	A21;
NET	"GBT_TEST_MODE"	LOC =	F19;
NET	"GBT_TXVD"	LOC =	E23;
NET	"GC0N"	LOC =	H9;
NET	"GC0P"	LOC =	J9;
NET	"GC1N"	LOC =	K12;
NET	"GC1P"	LOC =	K13;
NET	"INJPLS_LV"	LOC =	AB10;
NET	"INJPULSE-"	LOC =	H29;
NET	"INJPULSE+"	LOC =	H28;
NET	"LCTCLK"	LOC =	J29;
NET	"LCTRST"	LOC =	K27;
NET	"MOVLP"	LOC =	F30;
NET	"MB_FIFO_PUSH_B"	LOC =	E33;
NET	"NVIO_I2C_EN"	LOC =	B8;
NET	"NVIO_SCL_25"	LOC =	E8;
NET	"NVIO_SDA_25"	LOC =	E9;
#
#
NET	"OVLPMUX"	LOC =	E31;
NET	"PARAM_CE_B"	LOC =	Y24;
NET	"PARAM_CLK"	LOC =	D27;
NET	"PARAM_DAT[0]"	LOC =	F9;
NET	"PARAM_DAT[1]"	LOC =	F10;
NET	"PARAM_DAT[2]"	LOC =	C10;
NET	"PARAM_DAT[3]"	LOC =	D10;
NET	"PARAM_DAT[4]"	LOC =	C9;
NET	"PARAM_DAT[5]"	LOC =	D9;
NET	"PARAM_DAT[6]"	LOC =	A9;
NET	"PARAM_DAT[7]"	LOC =	A8;
NET	"PARAM_OE"	LOC =	AA24;
NET	"QP_ERROR"	LOC =	L10;
NET	"QP_LOCKED"	LOC =	K9;
NET	"QP_RST_B"	LOC =	L9;
NET	"QPLL_CLK_AC_N"	LOC =	M5;
NET	"QPLL_CLK_AC_P"	LOC =	M6;
#
# The following names are used on DCFEB Rev. 2a boards and in firmware version dcfeb_f2.0
#NET	"SEL_CON"	LOC =	C18;
#NET	"SEL_SKW"	LOC =	B18;
#
# The following names are used on DCFEB Rev. 3b boards and in firmware version dcfeb_f3.0
# These have been removed in xdcfeb
#NET	"SEL_CON_B"	LOC =	C18;
#NET	"SEL_SKW_B"	LOC =	B18;
#
NET	"SKW_BC0-"	LOC =	H33; # DCFEB Rev. 3b only
NET	"SKW_BC0+"	LOC =	H34; # DCFEB Rev. 3b only
NET	"SKW_EXTPLS-"	LOC =	C25;
NET	"SKW_EXTPLS+"	LOC =	C24;
NET	"SKW_INJPLS-"	LOC =	D26;
NET	"SKW_INJPLS+"	LOC =	D25;
NET	"SKW_L1A-"	LOC =	G33;
NET	"SKW_L1A+"	LOC =	F33;
#
# The following names are used on DCFEB Rev. 2a boards and in firmware version dcfeb_f2.0
#NET	"SKW_LCT-"	LOC =	H30;
#NET	"SKW_LCT+"	LOC =	G31;
#
# The following names are used on DCFEB Rev. 3b boards and in firmware version dcfeb_f3.0
NET	"SKW_L1A_MATCH-"	LOC =	H30;
NET	"SKW_L1A_MATCH+"	LOC =	G31;
#
NET	"SKW_RESYNC-"	LOC =	H32;
NET	"SKW_RESYNC+"	LOC =	G32;
NET	"SPI_CK_LV"	LOC =	J27;
NET	"SPI_DAT_LV"	LOC =	J26;
NET	"SPI_RTN_LV"	LOC =	B26;
NET	"TP_B24_[0]"	LOC =	K24;
NET	"TP_B24_[1]"	LOC =	K23;
NET	"TP_B24_[2]"	LOC =	AB23;
NET	"TP_B25_[0]"	LOC =	G25;
NET	"TP_B25_[1]"	LOC =	F25;
NET	"TP_B25_[10]"	LOC =	A28;
NET	"TP_B25_[11]"	LOC =	A29;
NET	"TP_B25_[12]"	LOC =	B27;
NET	"TP_B25_[13]"	LOC =	F28;
NET	"TP_B25_[14]"	LOC =	G28;
NET	"TP_B25_[15]"	LOC =	C27;
NET	"TP_B25_[2]"	LOC =	F26;
NET	"TP_B25_[3]"	LOC =	E26;
NET	"TP_B25_[4]"	LOC =	G26;
NET	"TP_B25_[5]"	LOC =	G27;
NET	"TP_B25_[6]"	LOC =	C28;
NET	"TP_B25_[7]"	LOC =	E28;
NET	"TP_B25_[8]"	LOC =	H27;
NET	"TP_B25_[9]"	LOC =	B28;
NET	"TP_B26_[0]"	LOC =	H22;
NET	"TP_B26_[1]"	LOC =	J22;
NET	"TP_B35_[1]"	LOC =	G12;
NET	"TP_B35_[11]"	LOC =	J11;
NET	"TP_B35_[12]"	LOC =	J10;
NET	"TP_B35_[13]"	LOC =	K11;
NET	"TP_B35_[14]"	LOC =	L11;
NET	"TP_B35_[2]"	LOC =	H13;
NET	"TP_B35_[3]"	LOC =	K14;
NET	"TP_B35_[4]"	LOC =	J14;
NET	"TP_B35_[5]"	LOC =	L13;
NET	"TP_B35_[6]"	LOC =	M13;
NET	"TP_B35_[7]"	LOC =	M12;
NET	"TP_B35_[8]"	LOC =	M11;
NET	"TRG_LDSCL"	LOC =	B21;
NET	"TRG_LDSDA"	LOC =	B22;
NET	"TRG_LDSDA_RTN"	LOC =	E22;
NET	"TRG_RX_N"		LOC = L4;
NET	"TRG_RX_P"		LOC = L3;
NET	"TRG_TX_N"		LOC = K2;
NET	"TRG_TX_P"		LOC = K1;
NET	"V15GBT_ENA"	LOC =	B20;
NET	"V18PDADC_MONN"	LOC =	M32;
NET	"V18PDADC_MONP"	LOC =	L33;
NET	"V25IO_MONN"	LOC =	K31;
NET	"V25IO_MONP"	LOC =	K32;
NET	"V33PAADC_MONN"	LOC =	P26;
NET	"V33PAADC_MONP"	LOC =	P25;
NET	"V3PDCOMP_MONN"	LOC =	G10;
NET	"V3PDCOMP_MONP"	LOC =	H10;
NET	"V3PIO_MONN"	LOC =	B11;
NET	"V3PIO_MONP"	LOC =	A11;
NET	"V5PACOMP_MONN"	LOC =	M27;
NET	"V5PACOMP_MONP"	LOC =	M26;
NET	"V5PAMP_MONN"	LOC =	P27;
NET	"V5PAMP_MONP"	LOC =	N27;
NET	"V5PPA_MONN"	LOC =	R27;
NET	"V5PPA_MONP"	LOC =	R28;
NET	"V5PSUB_MONN"	LOC =	T26;
NET	"V5PSUB_MONP"	LOC =	R26;
NET	"XO_CLK_AC_N"	LOC =	P5;
NET	"XO_CLK_AC_P"	LOC =	P6;



################################## DAQ_GTX Constraints ##########################
#NET daq_tx_125_refclk PERIOD = 8.0 ns;
# User Clock Constraints
#NET "daq_data_clk" TNM_NET = "daq_data_clk";
#TIMESPEC "TS_daq_data_clk" = PERIOD "daq_data_clk" 16.0;
##---------- Set placement for gtx0_gtx_wrapper_i/GTX_DUAL ------
#INST daq_xcvr_io1/daq_gtx_i/gtx0_daq_gtx_i/gtxe1_i LOC=GTXE1_X0Y12;


################################## TRG_GTX Constraints ##########################


##---------- Set placement for gtx0_gtx_wrapper_i/GTX_DUAL ------
#INST trg_xcvr_io1/txbuffer.PRBS_loop_gtx_i/gtx0_prbs_loop_gtx_i/gtxe1_i LOC=GTXE1_X0Y13;
#INST trg_xcvr_io1/PRBS_loop_tx_bypass_i/gtx0_prbs_loop_tx_bypass_i/gtxe1_i LOC=GTXE1_X0Y13;
#INST trg_xcvr_io1/txbypass.PRBS_loop_txrx_bypass_i/gtx0_prbs_loop_txrx_bypass_i/gtxe1_i LOC=GTXE1_X0Y13;
#Created by Constraints Editor (xc6vlx130t-ff1156-1) - 2012/11/28


# User Clock Constraints
NET "CMS_CLK_P" TNM_NET = CMS_CLK_P;
TIMESPEC TS_CMS_CLK_P = PERIOD "CMS_CLK_P" 25 ns HIGH 50%;
NET "CMS80_P" TNM_NET = CMS80_P;
TIMESPEC TS_CMS80_P = PERIOD "CMS80_P" 12.5 ns HIGH 50%;
NET "QPLL_CLK_AC_P" TNM_NET = QPLL_CLK_AC_P;
TIMESPEC TS_QPLL_160_CLK = PERIOD "QPLL_CLK_AC_P" 6.25 ns HIGH 50%;
NET "G1ADCLK0P" TNM_NET = G1ADCLK0P;
TIMESPEC TS_G1ADCLK0P = PERIOD "G1ADCLK0P" 50 ns HIGH 50%;
NET "G1ADCLK1P" TNM_NET = G1ADCLK1P;
TIMESPEC TS_G1ADCLK1P = PERIOD "G1ADCLK1P" 50 ns HIGH 50%;
NET "G1LCLK0P" TNM_NET = G1LCLK0P;
TIMESPEC TS_G1LCLK0P = PERIOD "G1LCLK0P" 8.33 ns HIGH 50%;
NET "G1LCLK1P" TNM_NET = G1LCLK1P;
TIMESPEC TS_G1LCLK1P = PERIOD "G1LCLK1P" 8.33 ns HIGH 50%;
NET "GBT_DSKW_CLK0P" CLOCK_DEDICATED_ROUTE = FALSE;

# Configuration Constraints for SEU detection and correction.
#CONFIG POST_CRC = ENABLE;
#CONFIG POST_CRC_ACTION = correct_and_continue;
#CONFIG POST_CRC_FREQ = 25;
#CONFIG POST_CRC_INIT_FLAG = DISABLE;
#CONFIG POST_CRC_SOURCE = FIRST_READBACK; #Option are PRE_COMPUTED | FIRST_READBACK;


########################################
## Controller: Internal Timing
########################################

## The controller clock PERIOD constraint is propagated into the controller
## from the system level design example, where a PERIOD constraint is applied
## on the external clock input pin.

## The FRAME_ECC primitive is not considered a synchronous timing point,
## although it is.  As a result, paths between FRAME_ECC and the controller
## are not analyzed by the PERIOD constraint.  These constraints are placed
## to supplement the PERIOD coverage to ensure the nets are fully constrained.

INST "SEMCode.SEM_module_i/FRAME_ECC_VIRTEX6_inst" TPSYNC = FECC_SPECIAL ;
TIMESPEC "TS_FECC_SYNC" = FROM "FECC_SPECIAL" TO FFS(*) 22000 ps ;
TIMESPEC "TS_FECC_PADS" = FROM "FECC_SPECIAL" TO PADS(*) 50000 ps ;

########################################
## Example Design: Logic Placement
########################################

## Constraints on logic placement.  The controller and its
## shims, which are the soft error mitigation solution, need
## to be reasonably area constrained.  This keeps everything
## near the configuration logic and also helps in generating
## a reasonable slice count estimate for reliability estimates.

INST "SEMCode.SEM_module_i/sem_core1/*" AREA_GROUP = "SEM_CONTROLLER" ;

AREA_GROUP "SEM_CONTROLLER" RANGE = SLICE_X56Y115:SLICE_X71Y124 ;
AREA_GROUP "SEM_CONTROLLER" RANGE = RAMB18_X3Y46:RAMB18_X3Y49 ;

## Prohibit addition of unrelated logic into this group...
AREA_GROUP "SEM_CONTROLLER" GROUP = CLOSED ;

## Allow placement of unrelated components in the range...
AREA_GROUP "SEM_CONTROLLER" PLACE = OPEN ;
